Repository sourcegraph/handbook, pull requests merged in 2022-09, with the labels that each got.

#4636 Update customer-support-triaging V2.md
  content/departments/ce-support/support/process/customer-support-triaging.md
Labels: stale

#4787 Update release_post_process with changelog items script
  content/departments/marketing/product-marketing/release_post_process.md
Labels: team/content-platform

#4700 Add Implementation PMs as CE Functional Team
  content/departments/ce-support/ce/index.md
  content/departments/ce-support/ce/tpm/index.md
Labels: stale

#4845 Blog component update
  content/departments/marketing/blog.md
Labels: team/content-platform

#4100 Devx Newsletter, July edition
  content/departments/engineering/teams/dev-experience/newsletter.md
Labels: stale, team/devx

#4882 Remove Sourcegraph extensions references
  content/departments/engineering/teams/integrations/index.md
  content/departments/engineering/teams/integrations/processes.md
Labels: 📝 Handbook content

#4890 Add cloud trial operations workflow and expectations
  content/departments/engineering/teams/growth/cloud-trial-operations.md
Labels: handbook-announce

#4884 Propose Integrations team support rotation
  content/departments/engineering/teams/integrations/index.md
  content/departments/engineering/teams/integrations/integrations-support-rotation.md
Labels: 📝 Handbook content

#4076 Update company meeting
  content/company-info-and-process/communication/company_meeting.md
Labels: stale
