Repository sourcegraph/handbook, pull requests merged in 2022-06, with the labels that each got.

#3823 Move Brand Guidelines to Design under Eng
  content/departments/engineering/product/design/brand_guidelines/brand-expression.md
  content/departments/engineering/product/design/brand_guidelines/color.md
  content/departments/engineering/product/design/brand_guidelines/color/color_misuse_ada.svg
  content/departments/engineering/product/design/brand_guidelines/color/color_misuse_ada_ui.svg
  content/departments/engineering/product/design/brand_guidelines/color/color_misuse_contrast.svg
  content/departments/engineering/product/design/brand_guidelines/color/color_misuse_new_colors.svg
  content/departments/engineering/product/design/brand_guidelines/color/color_misuse_saturate.svg
  content/departments/engineering/product/design/brand_guidelines/color/color_misuse_too_many_colors.svg
  content/departments/engineering/product/design/brand_guidelines/color/color_use_1.svg
  content/departments/engineering/product/design/brand_guidelines/color/color_use_2.svg
  content/departments/engineering/product/design/brand_guidelines/how_we_express_our_brand.svg
  content/departments/engineering/product/design/brand_guidelines/index.md
  content/departments/engineering/product/design/brand_guidelines/interactive-color-palette.js
  content/departments/engineering/product/design/brand_guidelines/logo.md
  content/departments/engineering/product/design/brand_guidelines/logo/history/2013.svg
  content/departments/engineering/product/design/brand_guidelines/logo/history/2014.svg
  content/departments/engineering/product/design/brand_guidelines/logo/history/2015.1.svg
  content/departments/engineering/product/design/brand_guidelines/logo/history/2015.2.svg
  content/departments/engineering/product/design/brand_guidelines/logo/history/2017.svg
  content/departments/engineering/product/design/brand_guidelines/logo/history/2020.svg
  content/departments/engineering/product/design/brand_guidelines/logo/logo_allowable_placement_1.svg
  content/departments/engineering/product/design/brand_guidelines/logo/logo_allowable_placement_2.svg
  content/departments/engineering/product/design/brand_guidelines/logo/logo_allowable_placement_3.svg
  content/departments/engineering/product/design/brand_guidelines/logo/logo_placement.svg
  content/departments/engineering/product/design/brand_guidelines/logo/logo_preferred_placement.svg
  content/departments/engineering/product/design/brand_guidelines/logo/minimum_digital_logo_size.svg
  content/departments/engineering/product/design/brand_guidelines/logo/minimum_print_logo_size.svg
  content/departments/engineering/product/design/brand_guidelines/logo/versions/Sourcegraph_Logo_1c_black.svg
  content/departments/engineering/product/design/brand_guidelines/logo/versions/Sourcegraph_Logo_1c_white.svg
  content/departments/engineering/product/design/brand_guidelines/logo/versions/Sourcegraph_Logo_FullColor_dark.svg
  content/departments/engineering/product/design/brand_guidelines/logo/versions/Sourcegraph_Logo_FullColor_light.svg
  content/departments/engineering/product/design/brand_guidelines/logo/versions/Sourcegraph_Logomark_BLK.svg
  content/departments/engineering/product/design/brand_guidelines/logo/versions/Sourcegraph_Logomark_Color.svg
  content/departments/engineering/product/design/brand_guidelines/logo/versions/Sourcegraph_Logomark_WHT.svg
  content/departments/engineering/product/design/brand_guidelines/logo/versions/Sourcegraph_Wordmark_BLK.svg
  content/departments/engineering/product/design/brand_guidelines/typography.md
  content/departments/engineering/product/design/index.md
  content/departments/marketing/brand/index.md
  content/departments/marketing/index.md
Labels: team/content-platform

#3861 Add videoID syntax and instructions
  content/departments/marketing/blog.md
Labels: team/content-platform

#3691 Adding myself to the team on team.yml
  data/team.yml
Labels: stale

#3858 Initial-Content-Load-Exit-Survey
  content/departments/people-talent/people-ops/process/teammate-sentiment/exit-survey.md
Labels: stale

#3859 Relocate-exit-survey-info
  content/departments/people-talent/people-ops/process/leaving.md
Labels: stale

#4078 Frontend Platform support in CI issues
  content/departments/engineering/dev/enablement/frontend-platform/processes.md
Labels: documentation, team/frontend-platform
